#contacto h1{
    margin-top: 5rem;
    line-height: 1.5;
}

#contacto > div.gridCol2 > div:first-of-type{
    display: flex;
    flex-direction: column;
}

#contacto > div.gridCol2 > div:first-of-type,
#contacto > div.gridCol2 > div:last-of-type{
    position: relative;
}

    #contacto > div.gridCol2 > div:last-of-type > span{
        position: absolute;
        top: 50%;
        translate: 0 -50%;

        font-size: 2.2rem;
    }

    #contacto > div.gridCol2 > div:last-of-type > span:first-of-type{
        left: 10%;
    }

    #contacto > div.gridCol2 > div:last-of-type > span:last-of-type{
        right: 20%;
    }

    #contacto > div.gridCol2 > div:last-of-type > img{
        position: relative;
        height: calc(100% - 2.5em);
        width: 100%;

        object-fit: contain;

        margin: auto;
    }

#contacto section{
    position: relative;
    flex: 1;
}

    #contacto section > *{
        position: absolute;
        top: 0;
        transition: left 300ms;
    }

    #contactosLista{
        left: 0;
    }

    #formulario{
        left: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        gap: 2rem;
        width: 70%;
    }

        #formulario > .dois{
            grid-column-end: span 2;
        }

        #formulario > .tres{
            grid-column-end: span 3;
        }

        #formulario > .seis{
            grid-column-end: span 6;
        }

        #formulario textarea{
            resize:none;
        }
            #formulario input,
            #formulario textarea{
                background-color: rgba(255, 255, 255, 0.1);
                color: white;
            }
        
            #contacto button,
            #formulario input,
            #formulario textarea{
                outline: none;
                border: none;
            }
        
            #voltarContactos{
                background-color: rgba(0, 0, 0, 0);
        
                font-weight: 400;
                font-style: italic;
                text-align: right;
        
                opacity: 0.8;
                transition: opacity 300ms;
                cursor: pointer;
            }
        
            #voltarContactos:hover{
                opacity: 0.5;
            }


#contacto td.centerTD{
    text-align: center;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

#contacto td{
    padding-bottom: 1rem;
}

#contacto .borderRect{
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
}
#contacto button{
    font-size: 1.1rem;
    font-weight: 500;
}

#contacto button:not(#voltarContactos){
    background-color: var(--laranja);
    transition: background 150ms;
}

#contacto button:not(#voltarContactos):hover{
    background-color: var(--laranja-amarelo);
    cursor: pointer;
}